
main h2 {
    text-decoration: underline;
}

main .awards, .activites  {
    display: flex;
    align-items: start;
    flex-direction: column;
    
}
main .awards, .photo1, .activites, .photo2{
    padding: 20px;
    background-color: rgba(224, 226, 219, 0.7);;
}
.activites dt {
    text-decoration: underline;
    margin-bottom: 15px
}
.awards dt {
    text-decoration: underline;
}
/* main .photo2 {
    border-bottom: solid #05386B;
} */
.photo2, .photo1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.photo2 img {
    max-width: 300px;
    min-width: 200px;
}

.photo1 .chevron {
    max-width: 100px;
    min-width: 50px;
}

.photo1 .shad {
    max-width: 250px;
    min-width: 50px;
}

