table {
    padding: 24px;
    width: 100%;
}
table, th, td {
    border: solid 3px #191716;
    background-color: rgba(224, 226, 219, 0.7);
    border-collapse: collapse;
    padding: 0 12px;
}

.education {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.work {
    padding: 20px;
    display: flex;
    flex-direction: column;
}